/* Shopping Cart Styles */
/* Version: $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/cart.css#5 $ $Change: 692002 $ */

#mobile_store_cartContainer {
  padding: 2em 0;
}
#mobile_store_orderDetailContainer {
  padding-bottom:1em;
}
.mobile_store_confirmDetails {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d8e1eb), to(#f1f3f6));
  background-position: 0 -2.3em;
}
.mobile_store_orderDetails {
  margin-top: 2em;
}

#mobile_store_orderDetailContainer div.mobile_store_confirmControls {
  width:auto;
  text-align:center;
}

.mobile_store_cartItem {
  border-bottom: solid 1px #A9ABAD;
  min-height: 45px;
  overflow: hidden;
  padding: 0.5em 0.5em 0em 0.5em;
  cursor: pointer;
}

.mobile_store_cartItem .image {
  float: left;
}

.mobile_store_cartItem .image img {
  max-height: 40px;
  max-width: 40px;
  margin-right:0.5em;
  border-style: none;
}

.mobile_store_cartItem .price {
  font: 11px Verdana;
  color: #000000;
  text-align: right;  
  line-height: 40px;  
}

.mobile_store_cartItem .priceContent {
  line-height: normal;
  display: inline-block;
}

/* Normal price length */
.mobile_store_cartItem .price span.mobile_store_quantity,
  .mobile_store_cartItem .price span.mobile_store_newPrice {
  font: 14px Verdana;
  color: #737C0B;
}

.mobile_store_cartItem .price span.mobile_store_oldPrice {
  font: 11px Verdana;
  color: #516691;
}

/* Long price length */
.mobile_store_cartItem .price span.longPrice span.mobile_store_quantity,
  .mobile_store_cartItem .price span.longPrice span.mobile_store_newPrice {
  font: 11px Verdana;
  color: #737C0B;
}

.mobile_store_cartItem .price span.longPrice span.mobile_store_oldPrice {
  font: 9px Verdana;
  color: #516691;
}

.mobile_store_cartItem .price span.longPrice span.mobile_store_atRateOf {
  font: 9px Verdana;
}

.mobile_store_cartItem .item {
  float: left;
  text-overflow: ellipsis;
  width:140px;
}

.mobile_store_cartItem .item p.name,
.mobile_store_cartItem .item p.properties {
  text-overflow: ellipsis;
  width:140px;
  overflow:hidden;
  white-space:nowrap;
}

.mobile_store_cartItem .item .name {
  font: 14px Verdana;
  color: #000000;
  margin: 0;
}

.mobile_store_cartItem .item .properties {
  font: 11px Verdana;
  color: #516691;
  margin: 0;
}

.mobile_store_cart, .mobile_store_detail {
  width: 300px;
  margin: 0 auto;
  border: solid 1px #A9ABAD;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  background-color: #ffffff;
}
.mobile_store_detail .vcard, .mobile_store_shipping .vcard {
  margin-top: 0em;
}
.mobile_store_shipping .vcard div.fn {
  font-weight:bold;
  font-size:12px;
  margin-bottom:4px;
  color:black;
}
.empty_cart {
  padding: 10px 0;
}

.mobile_store_cart > div:first-child,
#mobile_store_cartContent > div:first-child,
#mobile_store_cartContent > div.mobile_store_editCartBox:nth-child(3) > div.cover,
.mobile_store_detail div:first-child {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
}
#mobile_store_cartContent > div.mobile_store_editCartBox:nth-child(3) > div.image > img {
  border-top-left-radius: 1em;
  -webkit-border-top-left-radius: 1em;
}
.mobile_store_detail div.billingAddress {
  margin-top:4px;
}

.mobile_store_detail {
  padding: 1em;
  overflow: hidden;
  width: auto;
}

.mobile_store_payment,
.mobile_store_shipping,
.mobile_store_shipping_method,
.mobile_store_confirmationEmail {
	width: 300px;
	margin: 15px auto;
	padding: 0;
}

.mobile_store_shipping_method span.shipping_method_name {
  color: #000000;
  font: bold 11px Verdana;
  vertical-align: baseline;
  position:relative; top:-2px;
}
.mobile_store_shipping_method span.shipping_method_value {
  color: #516691;
  font: bold 11px Verdana;
  vertical-align: baseline;
  position:relative; top:-2px;
}

.mobile_store_payment h2, 
.mobile_store_shipping h2, 
.mobile_store_shipping_method h2,
.mobile_store_confirmationEmail h2,
#mobile_store_orderDetailContainer > h2 {
	text-align: center;
	font: 20px Verdana;
	color: #737C0B;
}

.mobile_store_orderSummary {
  overflow: hidden;
  padding: 0.5em;
  font: 11px Verdana;
  color: #516691;
}

.mobile_store_orderSummary .mobile_store_orderDiscounts {
  float: left;
  width: 142px;
}

.mobile_store_orderSummary .mobile_store_orderDiscounts .scroll {
  height: 60px;
  overflow: hidden;
}

.mobile_store_orderSummary .mobile_store_orderInfo {
  float: right;
  width: 142px;
}

.mobile_store_orderSummary div.mobile_store_appliedOrderDiscounts {
  margin: 0;
  padding: 0;
  min-height: 50px;
}

.mobile_store_orderSummary div.mobile_store_appliedOrderDiscounts ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.mobile_store_orderSummary div.mobile_store_appliedOrderDiscounts li {
  margin-bottom: 5px;
}

.mobile_store_orderSummary dl {
  overflow: hidden;
  margin: 0;
}

.mobile_store_orderSummary dl.mobile_store_orderSubTotals {
  height: 60px;
}


.mobile_store_orderSummary dl.mobile_store_orderTotal {
  margin-top: 5px;
}

.mobile_store_orderSummary dt {
  clear: left;
  float: left;
  padding-left: 14px;
}

.mobile_store_orderSummary dd {
  float: right;
  margin: 0;
  color: #000000;
}

.mobile_store_orderSummary dt.total {
  padding-top: 3px;
  font: 14px Verdana;
  color: #000000;
}

.mobile_store_orderSummary dd.total {
  font: 17px Verdana;
  color: #B75A00;
}

.mobile_store_orderSummary dt.discount:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowLEFT */
	width: 9px;
	height: 14px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
    margin-left: -2.5%;
	position: relative;
	display: inline-block;
	content: "";
	right: 107%;
}

.mobile_store_orderSummary .couponCode {
  text-align: center;
  margin-top: 5px;
}

#mobile_store_promotionCodeInput {
  -webkit-border-radius: 10px;
  border: 1px solid #A9ABAD;
  padding-left: 10px;
  padding-right: 10px;
  width: 90px;
  height: 20px;
  color: #516691;
  font: 11px Helvetica;
  font-weight: bold;
  text-align: center;
}

#mobile_store_promotionCodeInput::-webkit-input-placeholder {
  color: #516691;
  font: bold 11px Verdana;
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#mobile_store_promotionCodeInput.error {
  border-width: 2px;
  border-color: #B75A00;
}

.mobile_store_cartCheckout {
  padding: 15px;
  text-align: center;
}

#mobile_store_formValidationError {
  border-bottom: solid 1px #A9ABAD;
  background-color: #B75A00;
  color: #ffffff;
  padding: 0.7em;
  font-size: 9pt;
  line-height: 9pt;
  text-align: center;
}

#mobile_store_applyCoupon {
  display: none;
}

.mobile_store_editCartBox {
  display: none;
  border-bottom: solid 1px #A9ABAD;
  position: relative;
  overflow: hidden;
  height: 60px;
  padding: 0.5em;
}

.mobile_store_editCartBox div.cover {
  background-color: #EBEBCD;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mobile_store_editCartBox p.name {
  font: 16px Verdana;
  color: black;
  margin: 0;
  position: absolute;
}

.mobile_store_editCartBox a.mobile_store_productDetailPageLink {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border: solid 1px #A9ABAD;
  background-color: white;
  font: 11px Verdana;
  color: #516691;
  position: absolute;
  top: 35px;
  white-space: nowrap;
}

.mobile_store_editCartBox a.mobile_store_productDetailPageLink:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowLEFT */
	width: 9px;
	height: 14px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	margin-right: 5px;
	display: inline-block;
	content: "";
}

.mobile_store_editCartBox a.mobile_store_productDetailPageLink span.qty {
  color: #999999;
}

.mobile_store_editCartBox a.mobile_store_moveLink {
    background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -96px; /* icon-delete */
	width: 29px;
	height: 29px;
	text-indent: -999px;
	right: 5px;
	top: 37px;
	overflow: hidden;
	position: absolute;
	content: "";
}

.mobile_store_editCartBox a.mobile_store_shareLink {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -64px; /* icon-emailfriends */
	width: 29px;
	height: 29px;
	text-indent: -999px;
	right: 5px;
	top: 5px;
	content: "";
	overflow: hidden;
	position: absolute;
}

.mobile_store_editCartBox div.image {
  position: absolute;
  top: 0;
  left: 0;
}

.mobile_store_editCartBox div.image img {
  height: 80px;
}

div.mobile_store_moveDialog, div.mobile_store_shareDialog, div.mobile_store_changeDialog {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0;

}
div.mobile_store_moveDialog div.shadow, div.mobile_store_shareDialog div.shadow, div.mobile_store_changeDialog div.shadow {
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
}

body {
  position: relative;
}

div.mobile_store_moveDialog div.mobile_store_moveItems,
div.mobile_store_shareDialog div.mobile_store_shareItems,
div.mobile_store_changeDialog div.mobile_store_content {
  position: absolute;
  z-index: 102;
}

div.mobile_store_moveDialog div.mobile_store_moveItems ul,
div.mobile_store_shareDialog div.mobile_store_shareItems ul,
div.mobile_store_changeDialog div.mobile_store_content ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
  border: solid 1px #000000;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  background-color: #ffffff;
}

div.mobile_store_moveDialog div.mobile_store_moveItems ul li,
div.mobile_store_shareDialog div.mobile_store_shareItems ul li,
div.mobile_store_changeDialog div.mobile_store_content ul li {
  border-top: solid 1px #A9ABAD;
}

div.mobile_store_moveDialog div.mobile_store_moveItems ul li:first-child,
div.mobile_store_shareDialog div.mobile_store_shareItems ul li:first-child,
div.mobile_store_changeDialog div.mobile_store_content ul li:first-child {
  border-top-style: none;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
}

div.mobile_store_moveDialog div.mobile_store_moveItems ul li a,
div.mobile_store_shareDialog div.mobile_store_shareItems ul li a,
div.mobile_store_changeDialog div.mobile_store_content ul li a {
  display: inline-block;
  padding: 10px 10px;
  font: bold 11px Verdana;
}

div.mobile_store_shareDialog div.mobile_store_shareItems ul li.email a:after,
div.mobile_store_changeDialog div.mobile_store_content ul li.change a:after  {
	margin-left: 15px;
	display: inline-block;
	position: relative;
	top: -7px;
	right: -7px;
	height: 29px;
	margin-bottom: -17px;
}

div.mobile_store_moveDialog div.mobile_store_moveItems ul li.remove a:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -96px; /* icon-delete */
	width: 29px;
	height: 29px;
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -15px;
	content: "";
}

div.mobile_store_shareDialog div.mobile_store_shareItems ul li.email a:after {
   background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
   background-position: -3px -64px; /* icon-emailfriends */
   width: 29px;
   height: 29px;
   content:"";
   overflow: hidden;
}

div.mobile_store_changeDialog div.mobile_store_content ul li.change a:after {
  background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
  background-position: -3px -0px; /* icon-overwrite */
  width: 29px;
  height: 29px;
  content: "";
}

#mobile_store_removeItemFromOrder {
  display: none;
}

/* Featured items (empty cart) */
div.mobile_store_featuredItems {
  position: absolute;
  bottom: 0;
  height: 114px;
  width: 100%;
}
#mobile_store_featuredItemsContainer > div.cell > a{
  background-color: white;
  display:block;
}
#mobile_store_featuredItemsContainer {
  background-color: #FFF;
}
.mobile_store_featuredItems p.mobile_store_detailsTitles {
  font: 17px Verdana;
  color: #737C0B;
  background:transparent;
  padding: 0.5em 0 0.5em 1.5em;
  margin: 0;
}
#mobile_store_featuredItemsContainer div a img {
  max-width: 70px;
  max-height: 70px;
}
div.mobile_store_featuredItems div.strip {
  width: 100%;
  height: 8px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.0, rgba(241, 243, 246, 1)),
    color-stop(1, rgba(150, 150, 150, 0.7))
  );
}
/* End of featured items (empty cart) */

/* Shopping Cart Styles */
