/* MyAccount Styles */

<%-- @version $Id: //hosting-blueprint/B2CBlueprint/version/10.1/Storefront/j2ee/store.war/mobile/css/myaccount.css#5 $$Change: 692002 $ --%>
<%-- @updated $DateTime: 2012/03/07 18:24:16 $$Author: jsiddaga $ --%>

.mobile_store_formFieldTextBlack{
	font: bold 11px Helvetica;
	color: #000000;
}

.mobile_store_formFieldMajorText{
	font: bold 13px Helvetica;
	height: 45px;
	color: #516691
}

.mobile_store_myaccount_button {
	margin-top: 15px;
	text-align: center;
  color: #FFFFFF;
}

.mobile_store_myaccount_questionImage {
	float: right;
  border: none;
  padding-right: .5em;
  display: block;
}

.mobile_store_myaccount_questionImage img {
	vertical-align:middle;
}

/**
* Question mark (password rule/privacy) on the Sign Up page styles
*/
#mobile_store_newCustomerLogin .mobile_store_register {
  position: relative;
}

#mobile_store_newCustomerLogin .mobile_store_register .mobile_store_myaccount_questionImage {
  position:absolute;
  top:38px;
  right:-2px;
  z-index:1
}
/**
* End of the question mark (password rule/privacy) on the Sign Up page styles
*/

.mobile_store_myaccount_hint {
  margin-left: 1.25em;
	color: #999999;
}

li#mobile_store_myaccountLogout {
  padding-top: 0;
  padding-bottom: 0;
}

li#mobile_store_myaccountLogout ul {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

li#mobile_store_myaccountLogout ul li {
  display: block;
  float: left;
  height: 100%;
  clear:none;
  border:0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

li#mobile_store_myaccountLogout ul li:first-child {
  border-right: solid 1px #A9ABAD;
  width: 30%;
  padding-left:1em;
}

li#mobile_store_myaccountLogout ul li:nth-child(2) {
  padding-left: 1em;
  width: 60%;
}

li#mobile_store_myaccountLogout ul li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
}

.profile.mobile_store_mobileList li {
	overflow:hidden;
}
.profile.mobile_store_mobileList li a {
	display:block;
}

#mobile_store_editGender {
  width: 100%;
  text-align: left;
}

.mobile_store_rightTitledButton {
  float: right;
}

.mobile_store_myaccount_selectValue {  
  color: #000000;
}

.mobile_store_myaccount_personalCheckBox {
  display: block;
}

.mobile_store_myaccount_personalCheckBox img {
  visibility: hidden; 
}

.mobile_store_myaccount_accountEditGrad {
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(72%, #f1f3f6),
		color-stop(89.5%, #d8e1eb),
		color-stop(89.5%, #f1f3f6)
  );
}

.mobile_store_forgotPassLogin {
  height: inherit;
  line-height: inherit;
  width: 70%;
  -webkit-appearance: none;
  margin-left: -2em;
}

.myaccount_header {
	height: 1.25em;
	width: 100%;
	background-color: #284064;
	font: 12pt Verdana;
	color: #F1F3F6;
	overflow: auto;
	text-align: center;
	padding-top: .25em;
	padding-bottom: .25em;
}

.myaccount_header ul {
	display: inline;
	list-style: none;
	padding: 0;
}


.myaccount_header ul li {
	display: inline-block;
}

#mobile_store_passwordResetIntro {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font: 13px Helvetica;
}

#mobile_store_passwordResetSubmit {
  width: 100px;
  height: 40px;
  font-family: arial, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px -1px 0px rgba( 0, 0, 0, 0.5 );
  background-color: #0466F1;
  -webkit-appearance: none;
  outline-width: 0;
  border: 0.2em solid rgba( 123, 176, 248, 0.8 );
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: inset 0 0 5px rgba( 255, 255, 255, 0.75 ), inset 0 15px 0 rgba( 255, 255, 255, 0.15 );
  -webkit-box-shadow: inset 0 0 5px rgba( 255, 255, 255, 0.75 ), inset 0 15px 0 rgba( 255, 255, 255, 0.15 );
  -moz-box-shadow: inset 0 0 5px rgba( 255, 255, 255, 0.75 ), inset 0 15px 0 rgba( 255, 255, 255, 0.15 );
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop( 0.0, rgba( 255, 255, 255, 0.5 ) ), color-stop( 0.5, rgba( 255, 255, 255, 0 ) ) );
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 50%);
}

#mobile_store_registration label {
  display: block;
}

#mobile_store_modalInclude {
  position: absolute;
  width: 100%;
}

.mobile_store_spanHide {
  display: none;
}

.mobile_store_spanShow {
  display: inline-block;
}

/*
 * Billing pages styles
 */
ul.mobile_store_basicForm div.select {
  list-style-type: none;
  overflow: hidden;
  position: relative;
  width: 151px;
  height: 20px;
}

#mobile_store_cardExpirationDateYearSelect,
#mobile_store_cardExpirationDateMonthSelect {
  width: 100% !important;
}

ul.mobile_store_basicForm div.selectMonth {
  width: 70px;
}

ul.mobile_store_basicForm div.selectYear {
  width: 78px;
}

ul.mobile_store_basicForm li.expires {
  width: 70px;
}

ul.mobile_store_basicForm li.date {
  width: 203px;
  padding: 0;
}

ul.mobile_store_basicForm li label.expires {
  padding: 15px 12px;
  float: left;
}

ul.mobile_store_basicForm li span.selectValue {
  font: bold 13px Helvetica;
  float:left;
  margin:4px 0 0 0;
}

ul.mobile_store_mobileList div.mobile_store_date_delimiter, table.mobile_store_mobileTable div.mobile_store_date_delimiter {
  float: left;
}

ul.mobile_store_mobileList div.mobile_store_date_delimiter label, table.mobile_store_mobileTable div.mobile_store_date_delimiter label {
  font-size: 14px;
}

ul.mobile_store_mobileList li div.content select {
  width:80%;
}

ul.mobile_store_basicForm div.mobile_store_month, ul.mobile_store_basicForm div.mobile_store_year, table.mobile_store_mobileTable div.mobile_store_month, table.mobile_store_mobileTable div.mobile_store_year {
  float:left;
  position:relative;
}

ul.mobile_store_basicForm div.mobile_store_month, ul.mobile_store_basicForm div.mobile_store_year {
  margin-top:-2px;
}

table.mobile_store_mobileTable td  div.content div.mobile_store_month, table.mobile_store_mobileTable td  div.content div.mobile_store_year {
  margin-top:2px;
}

table.mobile_store_mobileTable td  div.content div.mobile_store_date_delimiter {
  margin-top:2px;
}

ul.mobile_store_basicForm div.mobile_store_month label, ul.mobile_store_basicForm div.mobile_store_year label {
  display: inline;
}

ul.mobile_store_basicForm div.mobile_store_expire_date, table.mobile_store_mobileTable div.mobile_store_expire_date {
  margin-left: 7em;
  /* position: relative;
  z-index: 1; */
  overflow:hidden;
  float:left;
  width:40%;
  white-space:nowrap;
}

table.mobile_store_mobileTable div.mobile_store_expire_date {
	width: 100%;
	margin-left: 0;
}

ul.mobile_store_basicForm div.month, ul.mobile_store_basicForm div.year {
  width: 96px;
  min-height: 23px;
  padding: 15px 0 12px 5px;
  position: relative;
}

ul.mobile_store_basicForm label.arrow, ul.mobile_store_basicForm li.mobile_arrowed label {
  float: left;
  width: 95%;
}

ul.mobile_store_basicForm li.mobile_arrowed label.expires{
	width:10%;
	padding:0;
	/*float:none;*/
	/*display:table-cell;*/
}

/*:not() selector used for hiding arrows when errormessage is shown*/
ul.mobile_store_basicForm label.arrow:after, 
ul.mobile_store_basicForm li.mobile_arrowed:not(.mobile_store_error_state) div.content:before, 
table.mobile_store_mobileTable td.mobile_arrowed div.content:after,
ul.mobile_store_mobileList li div.right:not(.mobile_store_error_state) div.content:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowLEFT */
	width: 9px;
	height: 14px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	margin-top: -7px;
	top: 50%;
	right: 1em;
	position: absolute;
	display: block;
	content: "";
}

table.mobile_store_mobileTable td.mobile_arrowed div.content::after {
  margin-left: 95%;
}

table.mobile_store_mobileTable td.mobile_arrowed.mobile_store_error_state div.content::after {
  margin-left: 40px;
}

.mobile_store_mobileTable div.mobile_store_divSelectWrappers {
  position: relative;
  min-height: 23px;
  padding: 14px 0 8px;
}

.mobile_store_checkout form .mobile_store_mobileTable tr td.mobile_store_expireCell {
  border-right: 0;
}

.mobile_store_checkout form .mobile_store_mobileTable tr td.mobile_store_expireCell label {
  float: left;
}

.mobile_store_checkout form .mobile_store_mobileTable tr td.mobile_store_billToCell {
  vertical-align:top;
  border-right: 0;
  padding-top: 1.1em;
}

.mobile_store_checkout form .mobile_store_mobileTable tr td.mobile_store_cardTypeCell {
  width: 8.4em;
}

.mobile_store_checkout form .mobile_store_mobileTable tr td.mobile_store_billingAddressesCell {
  padding: 0;
}
/*
* End billing pages styles
*/

/*
* Checkout defaults styles
*/
.mobile_store_checkoutDefaults ul.checkout_defaults li dl {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	right: 5%;
	margin-top: -7px;
	top: 50%;
	position: absolute;
    display: block;
	content: "";
}

.mobile_store_checkoutDefaults ul.checkout_defaults li dt {
  font:bold 13px Helvetica;
  font-size:13px;
  margin-left:5px;
  display: inline-block;
}

.mobile_store_checkoutDefaults ul.checkout_defaults li dd {
  font:bold 11px Helvetica;
  color: #516691;
  margin-left:5px;
  display: inline-block;
}

#mobile_store_defaultShippingMethod li label {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -229px; /* icon-arrowRIGHT */
	width: 9px;
	height: 14px;
	right: 5%;
	margin-top: -7px;
	top: 50%; 
	position: absolute;
	display: block;
	content: "";
}

.contentAlternative {
	padding: 15px 12px;
	position: relative;
	overflow: hidden;	
	display: block;
}
/*
* End checkout defaults styles
*/

/*
* My Orders styles
*/
.my_orders {
  margin: 1em auto;
  padding:0;
}

.my_orders ul {
	overflow:hidden;

}
.my_orders ul ul {
	margin:0;
	padding:0;
}
.my_orders ul ul li {
	list-style:none;
	width:32%;
	float:left;
	clear:none;
	border:0;
	font: bold 12px Helvetica;
	text-align:left;
}

.my_orders ul ul li span {
	height:auto;
	font: bold 11px Helvetica;
	text-align:left;
	white-space:nowrap;
}
.my_orders ul ul li span.orderId {
	font: bold 12px Helvetica;
}
.my_orders ul ul li:nth-child(1) {
	width:25%;
}
.my_orders ul ul li:nth-child(2),
.my_orders ul ul li:nth-child(3), .my_orders ul ul li:nth-child(4), .my_orders ul ul li:nth-child(6) {
	padding-left:4%;
}
.my_orders ul ul li:nth-child(3), .my_orders ul ul li:nth-child(5), .my_orders ul ul li:nth-child(7) {
	padding-left: 2%;
}
.my_orders ul ul li:nth-child(4), .my_orders ul ul li:nth-child(6) {
  margin-left: 25%;
  clear: left;
}

.my_orders form {
  margin:0;
  padding:0;
}
.my_orders table {
  width: 95%;
  border: solid 1px #A9ABAD;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  background-color: #ffffff;
}
.my_orders table.my_orders tr.start_datarow:not(:first-child) td, .my_orders table.my_orders tr.start_datarow:not(:first-child) th {
  border-top: solid 1px #A9ABAD;
}

.my_orders table.my_orders tr td, .my_orders table.my_orders tr th {
  font: bold 11px Helvetica;
  padding: 0;
  padding-left: 0.4em;
  height:auto;
}
.my_orders table.my_orders a {
  overflow:hidden;
  display:block;
}
.my_orders table.my_orders a img {
  float: right;
}
.my_orders table.my_orders tr.start_datarow td, .my_orders table.my_orders tr.start_datarow th {
  padding-top: 0.5em;
}

.my_orders table.my_orders tr.start_datarow td:first-child {
  vertical-align:top;
  font: bold 13px Helvetica;
  padding-left:10px;
}

.my_orders table.my_orders tr.start_datarow td:last-child {
  padding-right:10px;
}

.my_orders table.my_orders tr.end_datarow td, .my_orders table.my_orders tr.end_datarow th {
  padding-bottom: 0.5em;
}

.my_orders table.my_orders tr:not(:first-child) td {
  border-top-style: none;
}
.my_orders table.my_orders td, .my_orders table.my_orders th {
  border-right-style:none;
  border-left-style:none;
}
.my_orders table.my_orders th {
  text-align:left;
  color: #516691;
}

#mobile_store_removeCardLink {
  cursor: pointer;
}

#mobile_store_removeCardLink:after {
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -3px -96px; /* icon-delete */
	width: 29px;
	height: 29px;
	position: relative;
	right: 1em;
	content: "";
	float: right;
	top: -5px;
}

div#removeItemDialog div.mobile_store_moveItems li.remove {
  padding-left: 11px;
  padding-right: 11px;
  line-height: 45px;
}
/*
* End My Orders styles
*/
