li.mobile_store_relatedItems {
  line-height: 70px;
  padding: 0 0.5em 0 1em;
}

li.mobile_store_relatedItems div {
  float: left;
  height: 70px;
  padding: 0 0.5em 0 0;
  width: 100%;
}

li.mobile_store_relatedItems div img {
  max-width: 70px;
  max-height: 70px;
}

ul.mobile_store_productDetails {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  height: 100%;
}

.mobile_store_productDetails > a {
  height: 100%;
  width: 100%;
  display: block;
  border: none;
}

.mobile_store_productDetails li.mobile_store_productTitle {
  height: 30px;
  font: 17px Verdana;
  color: #000000;
  padding-left: 0.5em;
  line-height: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(191, 192, 195, 1)), to(rgba(191, 192, 195, 0)));
  background-image: -moz-linear-gradient(center bottom , #BFC0C3, rgba(191, 192, 195, 0) 100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.5em;
}

.mobile_store_productDetails li.mobile_store_details {
  height: auto;
  background-color: rgb(241,243,246);
  -moz-box-shadow: inset 0 0 10px rgb(191,192,195);
  -webkit-box-shadow: inset 0 0 10px rgb(191,192,195);
  padding: 0 0.5em 0.5em 1em;
}

.mobile_store_productDetails p.mobile_store_detailsTitles {
  font: 17px Verdana;
  color: #737C0B;
  padding: 0.5em 0 0 0;
  margin: 0;
}

.mobile_store_productDetails p.mobile_store_detailsContent {
  font: 11px Verdana;
  color: #333333;
  margin: 0;
  padding: 0.5em 0 0.5em 0;
}

.mobile_store_productDetails #mobile_store_price {
  font-family: Verdana;
  width: 100%;
  text-align: center;
  height: 30%;
  display: table;
}

.mobile_store_productDetails #mobile_store_price p {
  font-size: 11px;
  line-height: 120%;
  color: #516691;
  text-align: center;
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}

.mobile_store_productDetails #mobile_store_price p strong{
  font-size: 18px;
  font-weight: normal;
  color: #B75A00;
}

.mobile_store_productDetails #mobile_store_price p span {
  text-decoration: line-through;
}

li.mobile_store_pickers {
  height: 300px;
  position: relative;
  overflow: hidden;
}

li.mobile_store_pickers .mobile_store_imageContainer {
  -webkit-transition: margin-left 0.3s;
  margin-left: 0;
  display: inline-block;
  max-width: 70%;
  position: absolute;
}

li.mobile_store_pickers.expanded .mobile_store_imageContainer{
  margin-left: -20px;
}

li.mobile_store_pickers #mobile_store_pickersContent {
  -webkit-transition: width 0.5s;
  text-align: center;
  display: inline-block;
  width: 32%;
  position: absolute;
  right: 0px;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

li.mobile_store_pickers.expanded #mobile_store_pickersContent{
  width: 45%;
}

li.mobile_store_pickers #mobile_store_pickersContent .price {
  margin: 10px 0 -5px 0;
}


.mobile_store_imageContainer img{
  max-width: 100%;
}

li.mobile_store_pickers #mobile_store_productDetailsContainer {
  overflow: hidden;
}

li.mobile_store_pickers #mobile_store_productActionsContainer{
  display: table;
  width: 100%;
  height: 44%;
}

li.mobile_store_pickers #mobile_store_productActionsContainer div{
  display: table-cell;
  vertical-align: middle;
}

li.mobile_store_pickers #mobile_store_productActionsContainer #mobile_store_addToCartButton{
  display: none;
}

li.mobile_store_pickers #mobile_store_productActionsContainer #mobile_store_pickerExpandButton button{
  font-size: 30px;
  padding: 3px 17px;
  -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.75), inset 0 0.6em 0 rgba(255, 255, 255, 0.15), 0px 3px 7px rgba(0, 50, 255, 0.3);
}

li.mobile_store_pickers.expanded #mobile_store_productActionsContainer #mobile_store_addToCartButton{
  display: table-cell;
}

#mobile_store_addToCartButton button:disabled{
  opacity: 0.5;
}

li.mobile_store_pickers #mobile_store_productActionsContainer span#mobile_store_buttonText{
  font: bold 11px Helvetica;
  color: #999999;
  text-align: center;
  width: 100%;
  display: block;
}

li.mobile_store_pickers #mobile_store_productActionsContainer button{
  display: inline-block;
}

.mobile_store_opacityGradient {
	width: 160px;
	height: 97%;
	background-image: -webkit-gradient(linear, left top, right top,
		color-stop(0.00, rgba(255, 255, 255, 1.00)),
		color-stop(0.20, rgba(255, 255, 255, 0.00)),
		color-stop(0.80, rgba(255, 255, 255, 0.00)),
		color-stop(1.00, rgba(255, 255, 255, 1.00))
	);
	background-image: -moz-repeating-linear-gradient(left,
		rgba(255, 255, 255, 1.00) 0%,
		rgba(255, 255, 255, 0.00) 20%,
		rgba(255, 255, 255, 0.00) 80%,
		rgba(255, 255, 255, 1.00) 100%
	);
	border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	position: absolute;
	left: 2px;
	top: 2px;
	z-index: 1;
}

#mobile_store_pickersContent ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 33%;
}

#mobile_store_pickersContent ul li{
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
  border-top: solid 1px #999;
  height: 40px;
}

#mobile_store_pickersContent ul li:last-child{
  border-bottom: solid 1px #999;
}

#mobile_store_pickersContent ul li select {
  -webkit-appearance: none;
  border: none;
  font: bold 13px Helvetica;
  color: #000;
  width: 100%;
  background: url('/nrsdocroot/content/mobile/images/icon-arrowDOWN.png') 97% center no-repeat;
  padding: 0 18px 0 9px;
  height: 100%;
}

#mobile_store_pickersContent ul li label{
  font: bold 13px Helvetica;
  color: #000;
  width: 100%;
  padding: 0 18px 0 9px;
  height: 100%;
  display: inline-block;
}

#mobile_store_pickersContent ul li label.noText{
  padding: 0;
}

#mobile_store_pickersContent ul li select#mobile_store_qtySelect{
  min-width: 18px;
  width: 100%;
  padding: 0 18px 0 70px;
}

.qtyLabelText {
	position: absolute;
	width: auto;
	padding: 12px 0 0 9px;
}

#mobile_store_pickersContent ul li select:disabled{
  background: none;
}

#mobile_store_pickersContent ul li select.selected{
  color: #516691;
}

/* enlarged Product styles */
li.mobile_store_pickers.mobile_store_productEnlarged .mobile_store_imageContainer img {
  max-width: 320px;
  max-height: 380px;
  float: none;
}

li.mobile_store_pickers.mobile_store_productEnlarged .mobile_store_imageContainer {
  -webkit-transition: none;
  padding: 0;
  margin: 0;
  float: none;
}

li.mobile_store_pickers.mobile_store_productEnlarged #mobile_store_pickersContent{
  display: none;
}

li.mobile_store_pickers.mobile_store_productEnlarged{
  height: 380px;
  background: none;
  margin: 0;
}

#mobile_store_emailMePopup, #mobile_store_emailMe_confirm{
  display: none;
  position: absolute;
  top: 6em;
  width: 100%;
}

#mobile_store_emailMePopup table, #mobile_store_emailMe_confirm table{
  width: 80%;
  margin: 0 auto;
}

#mobile_store_emailMe tr:not(:first-child) td{
  padding: 0;
  border-top: solid 1px #A9ABAD;
}

#mobile_store_emailMe input[type='email']{
  -webkit-appearance: none;
  border: none;
  padding: 0 0 0 5%;
  margin: 0;
  width: 64%;
  height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: 1em;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  font: bold 13px Helvetica;
}

#mobile_store_emailMe input[type='email']::-webkit-input-placeholder{
  color: #999999;
}

#mobile_store_emailMe a{
  margin-top: -15px;
  margin-right:	30px;
}

#mobile_store_emailMe tr.error td{
  border: solid 1px #B75A00;
}

#mobile_store_emailMe tr.error td input{
  color: #B75A00;
}

#mobile_store_emailMe tr.error + tr td a{
  display: none;
}

#mobile_store_emailMe td div:not(.checkBox){
  display: inline-block;
  text-align: center;
  visibility: hidden;
  background: #B75A00;
  float: right;
  margin: 0;
  color: #FFFFFF;
  padding: 0 3%;
  height: 100%;
  border-bottom-right-radius: inherit;
  width:24%;
}

#mobile_store_emailMe tr.error td div{
  visibility: visible;
}

#mobile_store_emailMe td div.checkBox{
  width: 98%;
  padding: 1em 0 1em 2%;
}

#mobile_store_emailMe input[type="checkbox"] ~ label {
  display: block;
  width: 100%;
  height: 100%;
  color: #000000;
  background: none;
  padding-left: 1.25em;
}

#mobile_store_emailMe td div.checkBox input[type="checkbox"] {
  position:absolute;
  height:0;
  width:0;
  padding:0;
  margin:0;
  visibility: visible;
  opacity: 0;
}

#mobile_store_emailMe input[type="checkbox"]:checked ~ label:after {
	color: #000000;
	background: url('/nrsdocroot/content/mobile/images/sprites.png') no-repeat;
	background-position: -15px -229px; /* icon-check */
	width: 13px;
	height: 13px;
 	margin-left: -15px; 
	margin-top: -23px;
	position: absolute;
	display: block;
	content: "";
}